# This is an example config file

# Listen address, can be a TCP address or a Unix socket
listen:
  tcp: "0.0.0.0:8081"
  # socket: "/tmp/mysocket"

# A list of IPs that are allowed to connect to the service, optional
whitelisted_ips:
  - "127.0.0.1"

log_level: "error" # Optional log level, defaults to info, possible values are debug, info, warn, error

# A list of IPs that are not allowed to connect to the service, optional
blacklisted_ips:
  - "192.168.0.1"

# A list of clients, typically this is a single CI setup
clients:
  - name: "my-client" # Name will be used in logs
    secret: "my-secret" # Secret is used to authenticate clients, this should be used in CI secrets
    whitelisted_ips: # Optional list of IPs that are allowed to connect to this client, takes precedence over global whitelist
      - "127.0.0.1"
    blacklisted_ips: # Optional list of IPs that are not allowed to connect to this client, takes precedence over global blacklist
      - "192.168.0.1"
    scripts: # A list of scripts that can be executed by this client
      - name: "my-script" # Name will be used in CI to call the script
        allowed_variables: # A list of variables that are expected to be sent by the CI job
          - "MY_VAR"
        working_directory: "/tmp" # A working directory for the script
        command: "echo" # A command that will be executed.

